<div class="wrap">
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanSlow">Love</span>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <span class="spanSlow">Love</span>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanSlow">Into</span>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <span class="spanSlow">Into</span>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanFast">A</span>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <span class="spanFast">A</span>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanSlow">Mirage</span>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <span class="spanSlow">Mirage</span>
        </div>
      </div>
    </div>
  </div>
  