
<div class="header flex justify-content-between align-items-center pr-7 pl-7 pt-5">
  <div class="logo">
    <h2>logo</h2>
  </div>
  <div class="items flex gap-8">
    <button>
      Home
    </button>
    <button>
      Book
    </button>
    <button>
      Projects
    </button>
    <button>
      About
    </button>

  </div>
  <div class="contact">
    <a class="fancy" href="#">
      <span class="top-key"></span>
      <span class="text">Contact</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    </a>

  
      <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
      <label class="label-icon" for="menu-icon"></label>
      <nav class="nav"> 		
        <ul class="">
          <li><a href="#">Home</a></li>
          <li><a href="#">Book</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Me</a></li>
        </ul>
      </nav>
  </div>
</div>

<router-outlet></router-outlet>