footer .demo {
    position: absolute;
    bottom: 10px;
    width: 500px;
    margin: 0 auto;
  }
  
  footer .demo a {
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 100;
    border-bottom: 1px solid #000;
  }

  
  .circle {
    display: block;
    position: relative;
    padding: 0;
    z-index: 98;
    margin: 0 auto;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #141414;
    animation: border-transform 8s ease-in-out infinite;
    border: 2px solid rgb(221, 221, 221);
    transition: 0.2s;
    text-align: center;
  }
  
  .circle:active {
    transform: scale(0.9);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  }
  
  .circle:hover {
    cursor: pointer;
    background-color: #313131;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
  }
  
  .circle .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
    transform: rotate(180deg);
  }
  
  .sub-circle {
    z-index: 0;
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 25px;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0.5);
    opacity: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border: none;
  }

  .insta {
    animation: border-transform 4s ease-in-out infinite;
  }
  .face {
    animation: border-transform 5s ease-in-out infinite;
  }
  .git {
    animation: border-transform 6s ease-in-out infinite;
  }

  .sub-circle i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub-circle label {
    background-color: #F50057;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 40px;
    transition: .5s;
  }
  
  .sub-circle label:hover {
    cursor: pointer;
    background-color: #141414;
  }
  
  .subs {
    left: -20px;
    top: -50px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 0;
    margin: 0 auto;
    position: relative;
  }
  
  .hidden-sub-trigger {
    display: none;
  }
  
  .hidden-sub-trigger:checked ~ label {
    background-color: #141414;
  }
  
  .hidden-trigger {
    display: none;
  }
  
  .hidden-trigger:checked ~ .circle {
    transform: scale(0.9);
    cursor: pointer;
    background-color: #141414;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
  }
  
  .hidden-trigger:checked ~ .circle .svg {
    transform: rotate(45deg);
  }
  

  
  .hidden-trigger:checked ~ .subs button:nth-of-type(3) {
    transform: translate(100px, 0px) scale(1);
    opacity: 1;
    transition: 0.3s;
  }
  
  .hidden-trigger:checked ~ .subs button:nth-of-type(4) {
    transform: translate(75px, 75px) scale(1);
    opacity: 1;
    transition: 0.4s;
  }
  
  .hidden-trigger:checked ~ .subs button:nth-of-type(5) {
    transform: translate(0px, 100px) scale(1);
    opacity: 1;
    transition: 0.5s;
  }
  
  .hidden-trigger:checked ~ .subs button:nth-of-type(6) {
    transform: translate(-75px, 75px) scale(1);
    opacity: 1;
    transition: 0.6s;
  }
  
  .hidden-trigger:checked ~ .subs button:nth-of-type(7) {
    transform: translate(-100px, 0px) scale(1);
    opacity: 1;
    transition: 0.7s;
  }
  
  .hidden-trigger:checked ~ .subs button:nth-of-type(8) {
    transform: translate(-75px, -75px) scale(1);
    opacity: 1;
    transition: 0.8s;
  }

  image {
    animation: float 5s ease-in-out infinite;
  }
  

  @keyframes float {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 0 5px;
    }
    100% {
      translate: 0 0;
    }
  }

  @keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    8% {
        border-radius: 72% 28% 50% 50% / 40% 60% 60% 40%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    22% {
        border-radius: 68% 32% 48% 52% / 58% 42% 58% 42%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    35% {
        border-radius: 45% 55% 53% 47% / 66% 48% 52% 34%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    48% {
        border-radius: 57% 43% 63% 37% / 44% 56% 60% 40%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    63% {
        border-radius: 52% 48% 52% 48% / 64% 46% 38% 62%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    76% {
        border-radius: 45% 55% 48% 52% / 52% 60% 40% 48%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
    92% {
        border-radius: 59% 41% 44% 56% / 62% 38% 44% 56%;
    }
}

  