<div class="wrapper">
    <input class="hidden-trigger" id="toogle" type="checkbox">
    <label class="circle" for="toogle">
  <svg viewBox="0 0 48 48" version="1.1" xml:space="preserve" height="48" width="48" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="svg">
      <image xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAbElEQVR4Ae3XwQnFQAiE4eVVsGAP1mkPFjwvQvYSWCQYCYGZv4Dv5MGB5ghcIiDQI+kCftCzNsAR8y5gYu2rwCBAgMBTgEC3rek2yQEtAZoDjso8AyaKexmIDJUZD40AAQIE0gwx449GgMC9/t0b7GTsa7J+AAAAAElFTkSuQmCC" height="48" width="48"></image>
    </svg>
    </label>
    
    <div class="subs">

      <button class="sub-circle">

      </button>
      <button class="sub-circle">

      </button>
      <button class="sub-circle insta">
        <i class="pi pi-instagram"></i>
      </button>
      <button class="sub-circle face">
        <i class="pi pi-facebook"></i>
  
      </button>
      <button class="sub-circle git">
        <i class="pi pi-github"></i>

      </button>
     </div>
  </div>