<div class="luci-background">
  <div class="color-overlay" [class.active]="scrolled"></div>
</div>

<div class="overlay"></div>

<div class="home-intro">
  <h2 class="heading-14px-caps white">The curious visual explorer</h2>
  <h2 class="heading-50px white">TRAVELLING THROUGH UNFAMILIAR AREAS IN ORDER TO LEARN ABOUT THEM</h2>
  <p class="paragraph white">Welcome to my adventure, where I explore the visual in both work and leisure.</p>
</div>

<div class="homeStuff flex justify-content-between align-content-center">
    <div class="card">
      <div class="title">Title</div>
      <div class="content">Stuff about this card who knows</div>
    </div>
    <div class="cardImg">
      <img src="https://assets-global.website-files.com/5ff76d2200a9c1216aedeb5d/61994e6e1d51b33513aca776_Illustration-hero-p-800.jpeg" alt="">
    </div>
</div>
