<div class="luci-background">
  <div class="color-overlay" [class.active]="scrolled"></div>
</div>

<div class="overlay"></div>

<div class="home-intro">
  <div class="test">
    <div class="Name mb-6 mt-5">
    Nizar Masadeh
  </div>
    <div class="textContainer flex justify-content-center align-items-center">
    <app-text-anim1></app-text-anim1>
  </div>
    <p class="small">Just a ghost driving a meat-coated skeleton<br> made from stardust...<br><br> Coding lines...<br><br> Breathing music...<br><br> hurtling through space.</p>
  </div>

  
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
  
      
      <filter id="squiggly-0">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
        <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="6" />
      </filter>
      <filter id="squiggly-1">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
      </filter>
      
      <filter id="squiggly-2">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
      </filter>
      <filter id="squiggly-3">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
      </filter>
      
      <filter id="squiggly-4">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
      </filter>
    </defs> 
  </svg>
</div>

<div class="homeStuff flex justify-content-between align-content-center">
    <div class="card">
      <div class="title">Title</div>
      <div class="content">Stuff about this card who knows</div>
    </div>
    <div class="cardImg">
      <img src="https://assets-global.website-files.com/5ff76d2200a9c1216aedeb5d/61994e6e1d51b33513aca776_Illustration-hero-p-800.jpeg" alt="">
    </div>
</div>
